<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.map_my_sona" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.WRITE_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_MMS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Map_My_Sona" >
        <activity
            android:name=".complaints.viewDetails.historyviewdetails_others"
            android:exported="false" />
        <activity
            android:name=".complaints.HistoryDetails.complaint_HistoryDetails_others"
            android:exported="false" />
        <activity
            android:name=".GoogleSignIn"
            android:exported="false" />
        <activity
            android:name=".admin.Incharge_mobile_change"
            android:exported="false" />
        <activity
            android:name=".admin.Complaint_email_assign"
            android:exported="false" />
        <activity
            android:name=".admin.DetailsAssignAdmin"
            android:exported="false" />
        <activity
            android:name=".Admin_Update"
            android:exported="false" />
        <activity
            android:name=".Admin_Assign"
            android:exported="false" />
        <activity
            android:name=".admin.AdminDashboard"
            android:exported="false" />
        <activity
            android:name=".admin.Assign_position_admin"
            android:exported="false" />
        <activity
            android:name=".RegisterPage"
            android:exported="false" />
        <activity
            android:name=".assets.tv.Asset_Tv_detail_view"
            android:exported="false" />
        <activity
            android:name=".assets.tablets.Asset_Tablet_detail_view"
            android:exported="false" />
        <activity
            android:name=".assets.mobiles.Asset_Phone_detail_view"
            android:exported="false" />
        <activity
            android:name=".assets.tv.asset_tv_recycle"
            android:exported="false" />
        <activity
            android:name=".assets.laptops.Asset_Laptop_detail_view"
            android:exported="false" />
        <activity
            android:name=".complaints_history_details_assets"
            android:exported="false" />
        <activity
            android:name=".bulkUpload"
            android:exported="false"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".assets.tablets.asset_tablet_recycle"
            android:exported="false" />
        <activity
            android:name=".assets.mobiles.asset_phone_recycle"
            android:exported="false" />
        <activity
            android:name=".assets.laptops.asset_laptop_recycle"
            android:exported="false" />
        <activity
            android:name=".assets.Assets"
            android:exported="false" />
        <activity
            android:name=".rating.rating_view.rating_plumbering"
            android:exported="false" />
        <activity
            android:name=".rating.rating_view.rating_painting"
            android:exported="false" />
        <activity
            android:name=".add_assets"
            android:exported="false" />
        <activity
            android:name=".rating.rating_view.rating_carpenter"
            android:exported="false" />
        <activity
            android:name=".rating.rating_view.rating_network"
            android:exported="false" />
        <activity
            android:name=".rating.rating_view.rating_electricity"
            android:exported="false" />
        <activity
            android:name=".rating_details"
            android:exported="false" />
        <activity
            android:name=".rating.Rating_and_Feedback"
            android:exported="false" />
        <activity
            android:name=".Enter_num_manual"
            android:exported="false" />
        <activity
            android:name=".manualComplaints.ManualViewDetails.historyviewdetails_manual_carpenter"
            android:exported="false" />
        <activity
            android:name=".manualComplaints.ManualHistoryDetails.Complaints_HistoryDetails_Carpenter_manual"
            android:exported="false" />
        <activity
            android:name=".manualComplaints.ManualViewDetails.historyviewdetails_manual_networks"
            android:exported="false" />
        <activity
            android:name=".manualComplaints.ManualHistoryDetails.Complaints_HistoryDetails_Networks_manual"
            android:exported="false" />
        <activity
            android:name=".manualComplaints.ManualHistoryDetails.Complaints_HistoryDetails_Electricity_manual"
            android:exported="false" />
        <activity
            android:name=".manualComplaints.manual_dept_history"
            android:exported="false" />
        <activity
            android:name=".manualComplaints.ManualViewDetails.historyviewdetails_manual"
            android:exported="false" />
        <activity
            android:name=".manualComplaints.ManualComplaint_page"
            android:exported="false" />
        <activity
            android:name=".complaints.viewDetails.historyviewdetails_painting"
            android:exported="false" />
        <activity
            android:name=".complaints.HistoryDetails.Complaints_HistoryDetails_Painting"
            android:exported="false" />
        <activity
            android:name=".complaints.viewDetails.historyviewdetails_plumber"
            android:exported="false" />
        <activity
            android:name=".complaints.HistoryDetails.Complaints_HistoryDetails_Plumber"
            android:exported="false" />
        <activity
            android:name=".complaints.viewDetails.historyviewdetails_carpenter"
            android:exported="false" />
        <activity
            android:name=".complaints.HistoryDetails.Complaints_HistoryDetails_Carpenter"
            android:exported="false" />
        <activity
            android:name=".complaints.viewDetails.historyviewdetails_networks"
            android:exported="false" />
        <activity
            android:name=".complaints.HistoryDetails.Complaints_HistoryDetails_Networks"
            android:exported="false" />
        <activity
            android:name=".complaints.Dep_wise_history"
            android:exported="false" />
        <activity
            android:name=".emergencyContact"
            android:exported="false" />
        <activity
            android:name=".update_database"
            android:exported="false" />
        <activity
            android:name=".Update_data_admin"
            android:exported="true" />
        <activity
            android:name=".Qr_id_generator"
            android:exported="false" />
        <activity
            android:name=".Newqrcode"
            android:exported="false" />
        <activity
            android:name=".complaints.viewDetails.historyviewdetails"
            android:exported="false" />
        <activity
            android:name=".adminregistercomplaint"
            android:exported="false" />
        <activity
            android:name=".adminpendingcomplaint"
            android:exported="false" />
        <activity
            android:name=".admin_dashboard"
            android:exported="false" />
        <activity
            android:name=".manualentry"
            android:exported="false" />
        <activity
            android:name=".ScannerView"
            android:exported="true" />
        <activity
            android:name=".AdminLoginPage"
            android:exported="true" />
        <activity
            android:name=".changepassword"
            android:exported="false" />
        <activity
            android:name=".forgetpassword"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".complaints.complaint_Page"
            android:exported="false"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".complaints.HistoryDetails.Complaints_HistoryDetails_Electricity"
            android:exported="false"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".ScannerPage"
            android:exported="false" />
        <activity
            android:name=".assets.asset_layout"
            android:exported="false" />
        <activity
            android:name=".asset_history"
            android:exported="false" />
        <activity
            android:name=".dashboard"
            android:exported="false" />
        <activity
            android:name=".report_page"
            android:exported="false" />
        <activity
            android:name=".loginpage"
            android:exported="false" />
        <activity
            android:name=".add_assets"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service android:name=".ExampleService" />
    </application>

</manifest>