<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.map_my_sona">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Map_My_Sona">
        <activity
            android:name=".manual_dept_history"
            android:exported="false" />
        <activity
            android:name=".Manual_entry_view"
            android:exported="false" />
        <activity
            android:name=".ManualEntryView"
            android:exported="false" />
        <activity
            android:name=".ManualEntry_new"
            android:exported="false" />
        <activity
            android:name=".complaints.viewDetails.historyviewdetails_painting"
            android:exported="false" />
        <activity
            android:name=".complaints.HistoryDetails.Complaints_HistoryDetails_Painting"
            android:exported="false" />
        <activity
            android:name=".complaints.viewDetails.historyviewdetails_plumber"
            android:exported="false" />
        <activity
            android:name=".complaints.HistoryDetails.Complaints_HistoryDetails_Plumber"
            android:exported="false" />
        <activity
            android:name=".complaints.viewDetails.historyviewdetails_carpenter"
            android:exported="false" />
        <activity
            android:name=".complaints.HistoryDetails.Complaints_HistoryDetails_Carpenter"
            android:exported="false" />
        <activity
            android:name=".complaints.viewDetails.historyviewdetails_networks"
            android:exported="false" />
        <activity
            android:name=".complaints.HistoryDetails.Complaints_HistoryDetails_Networks"
            android:exported="false" />
        <activity
            android:name=".Dep_wise_history"
            android:exported="false" />
        <activity
            android:name=".emergencyContact"
            android:exported="false" />
        <activity
            android:name=".update_database"
            android:exported="false" />
        <activity
            android:name=".Update_data_admin"
            android:exported="true" />
        <activity
            android:name=".Qr_id_generator"
            android:exported="false" />
        <activity
            android:name=".Newqrcode"
            android:exported="false" />
        <activity
            android:name=".complaints.viewDetails.historyviewdetails"
            android:exported="false" />
        <activity
            android:name=".adminregistercomplaint"
            android:exported="false" />
        <activity
            android:name=".adminpendingcomplaint"
            android:exported="false" />
        <activity
            android:name=".admin_dashboard"
            android:exported="false" />
        <activity
            android:name=".manualentry"
            android:exported="false" />
        <activity
            android:name=".ScannerView"
            android:exported="true" />
        <activity
            android:name=".AdminLoginPage"
            android:exported="true" />
        <activity
            android:name=".changepassword"
            android:exported="false" />
        <activity
            android:name=".forgetpassword"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".complaints.complaint_Page"
            android:exported="false"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".complaints.HistoryDetails.Complaints_HistoryDetails_Electricity"
            android:exported="false"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".ScannerPage"
            android:exported="false" />
        <activity
            android:name=".dashboard"
            android:exported="false" />
        <activity
            android:name=".loginpage"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service android:name=".ExampleService" />
    </application>

</manifest>