<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tms_sona2">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />

    <application
        android:name="com.example.tms_sona2.App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/tmslogo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Map_My_Sona">
        <activity
            android:name="com.example.tms_sona2.ExcelExport"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.Rating_and_Feedback_user"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.Ulist_Activity"
            android:exported="false" />
        <activity android:name="com.example.tms_sona2.Admin_Assign"
            android:exported="false">

        </activity>
        <activity
            android:name="com.example.tms_sona2.complaints.ComplaintPage_user"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.complaints.verificationpage"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.rating.rating_view.rating_assets"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.ExportComplaints"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.rating.rating_view.rating_others"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.New_login"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.BulkuploadActivity"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.Settime"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.SubsribtionPeriodOver"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.NotAssigned"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.complaints.viewDetails.historyviewdetails_assets"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.complaints.HistoryDetails.complaint_HistoryDetails_assets"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.complaints.viewDetails.historyviewdetails_others"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.complaints.HistoryDetails.complaint_HistoryDetails_others"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.GoogleSignIn"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.admin.Incharge_mobile_change"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.admin.Complaint_email_assign"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.admin.DetailsAssignAdmin"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.Admin_Update"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.admin.AdminDashboard"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.admin.Assign_position_admin"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.RegisterPage"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.assets.tv.Asset_Tv_detail_view"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.assets.tablets.Asset_Tablet_detail_view"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.assets.mobiles.Asset_Phone_detail_view"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.assets.tv.asset_tv_recycle"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.assets.laptops.Asset_Laptop_detail_view"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.bulkUpload"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.assets.tablets.asset_tablet_recycle"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.assets.mobiles.asset_phone_recycle"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.assets.laptops.asset_laptop_recycle"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.assets.Assets"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.rating.rating_view.rating_plumbering"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.rating.rating_view.rating_painting"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.add_assets"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.rating.rating_view.rating_carpenter"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.rating.rating_view.rating_network"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.rating.rating_view.rating_electricity"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.rating_details"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.rating.Rating_and_Feedback"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.Enter_num_manual"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.complaints.viewDetails.historyviewdetails_painting"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.complaints.HistoryDetails.Complaints_HistoryDetails_Painting"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.complaints.viewDetails.historyviewdetails_plumber"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.complaints.HistoryDetails.Complaints_HistoryDetails_Plumber"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.complaints.viewDetails.historyviewdetails_carpenter"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.complaints.HistoryDetails.Complaints_HistoryDetails_Carpenter"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.complaints.viewDetails.historyviewdetails_networks"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.complaints.HistoryDetails.Complaints_HistoryDetails_Networks"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.complaints.Dep_wise_history"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.emergencyContact"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.update_database"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.Qr_id_generator"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.Newqrcode"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.complaints.viewDetails.historyviewdetails"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.adminregistercomplaint"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.adminpendingcomplaint"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.admin_dashboard"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.manualentry"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.ScannerView"
            android:exported="true" />
        <activity
            android:name="com.example.tms_sona2.AdminLoginPage"
            android:exported="true" />
        <activity
            android:name="com.example.tms_sona2.changepassword"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.forgetpassword"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.Home"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.complaints.complaint_Page"
            android:exported="false"
            android:hardwareAccelerated="true" />
        <activity
            android:name="com.example.tms_sona2.complaints.HistoryDetails.Complaints_HistoryDetails_Electricity"
            android:exported="false"
            android:hardwareAccelerated="true" />
        <activity
            android:name="com.example.tms_sona2.ScannerPage"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.assets.asset_layout"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.asset_history"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.dashboard"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.report_page"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.loginpage"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.add_assets"
            android:exported="false" />
        <activity
            android:name="com.example.tms_sona2.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.example.tms_sona2.EsclationService_new" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service android:name="com.example.tms_sona2.ExampleService" />
    </application>

</manifest>